<div id="chores" class="widget">
    <div class="widget-debug-info">
        <span class="widget-name">Chores Widget</span>
    </div>
    <button class="widget-toggle" aria-label="Toggle widget size">🖹</button>
    <button id="scroll-left" class="scroll-button">◀</button>
    <div class="widget-content" id="chore-list">
        <div class="chore-container">
            <button class="chore-button" data-chore="dishes" aria-pressed="false"><img src="https://cdn-icons-png.flaticon.com/512/3939/3939913.png" alt="Dishes" width="80" height="80"></button>
            <div class="config-icon" data-chore="dishes" style="width: 20px; height: 20px; background-color: yellow;"></div>
        </div>
        <div class="chore-container">
            <button class="chore-button" data-chore="trash" aria-pressed="false"><img src="https://cdn-icons-png.flaticon.com/512/5016/5016735.png" alt="Trash" width="80" height="80"></button>
            <div class="config-icon" data-chore="trash" style="width: 20px; height: 20px; background-color: yellow;"></div>
        </div>
        <div class="chore-container">
            <button class="chore-button" data-chore="water-plants" aria-pressed="false"><img src="https://cdn-icons-png.flaticon.com/512/4147/4147953.png" alt="Water Plants" width="80" height="80"></button>
            <div class="config-icon" data-chore="water-plants" style="width: 20px; height: 20px; background-color: yellow;"></div>
        </div>
        <div class="chore-container">
            <button class="chore-button" data-chore="cat-litter" aria-pressed="false"><img src="https://cdn-icons-png.flaticon.com/512/1687/1687142.png" alt="Cat Litter Tray" width="80" height="80"></button>
            <div class="config-icon" data-chore="cat-litter" style="width: 20px; height: 20px; background-color: yellow;"></div>
        </div>
        <div class="chore-container">
            <button class="chore-button" data-chore="vacuum" aria-pressed="false"><img src="https://cdn-icons-png.flaticon.com/512/125/125668.png" alt="Vacuum" width="80" height="80"></button>
            <div class="config-icon" data-chore="vacuum" style="width: 20px; height: 20px; background-color: yellow;"></div>
        </div>
        <div class="chore-container">
            <button class="chore-button" data-chore="robot-vacuum" aria-pressed="false"><img src="https://cdn-icons-png.flaticon.com/512/1199/1199855.png" alt="Robot Vacuum" width="80" height="80"></button>
            <div class="config-icon" data-chore="robot-vacuum" style="width: 20px; height: 20px; background-color: yellow;"></div>
        </div>
        <div class="chore-container">
            <button class="chore-button" data-chore="cat-dog-meds" aria-pressed="false"><img src="https://cdn-icons-png.flaticon.com/512/4005/4005403.png" alt="Cat and Dog Meds" width="80" height="80"></button>
            <div class="config-icon" data-chore="cat-dog-meds" style="width: 20px; height: 20px; background-color: yellow;"></div>
        </div>
        <div class="chore-container">
            <button class="chore-button" data-chore="laundry" aria-pressed="false"><img src="https://cdn-icons-png.flaticon.com/512/1075/1075355.png" alt="Laundry" width="80" height="80"></button>
            <div class="config-icon" data-chore="laundry" style="width: 20px; height: 20px; background-color: yellow;"></div>
        </div>
        <div class="chore-container">
            <button class="chore-button" data-chore="dog-walking" aria-pressed="false"><img src="https://cdn-icons-png.flaticon.com/512/10/10869.png" alt="Dog Walking" width="80" height="80"></button>
            <div class="config-icon" data-chore="dog-walking" style="width: 20px; height: 20px; background-color: yellow;"></div>
        </div>
        <div class="chore-container">
            <button class="chore-button" data-chore="water-bottle" aria-pressed="false"><img src="https://cdn-icons-png.flaticon.com/512/3022/3022692.png" alt="Put Water Bottle Outside" width="80" height="80"></button>
            <div class="config-icon" data-chore="water-bottle" style="width: 20px; height: 20px; background-color: yellow;"></div>
        </div>
    </div>
    <button id="scroll-right" class="scroll-button">▶</button>
</div>
